### Format

- 10 questions worth 10 points each.

- Do not share answers or collaborate. 

- Open access to resources (online, notes, documentation)

### Example function


```python
def double_number(a):
    return a*2
    
```

## Discussion 


#### 1. What is a dataframe?
Dataframes represent tabular, 2-dimensional data, and provide a number of facilities for manipulating and transforming the data.
Strings, int, float, 


#### 2. What information can we obtain about a dataframe?
.shape():rows x columns -- dimensions
.describe():stats of the df-- summary stats
column names: ('col 1', 'col 2')
dtypes:int, str, float, object, NaN
#### 3. How have we interacted with a dataframe?
Manipulate dataframe--> groupby,sort values, add/drop/rename columns, subset, boolean masks, filter

### Practice Exercises

1. Load the dataframe 'pokemon' from pydataset

2. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics
    

---

In [138]:
import pandas as pd
pokemon = pd.read_csv('pokemon_data.csv')

In [139]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
pokemon.shape

(800, 12)

In [15]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [11]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [12]:
pokemon.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

#### Highest and lowest values


1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument.

In [101]:
pokemon.HP.max()

255

In [115]:
def highest_attack(x):
    return x['Attack'].max()

highest_attack(pokemon)

190

2. Which Pokemon possess(es) the highest HP value?

In [31]:
pokemon.groupby('Name').HP.agg(['max']).sort_values('max', ascending = False).head()

           max
Name
Blissey    255
Chansey    250
Wobbuffet  190
Wailord    170
Alomomola  165

3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument

In [52]:
pokemon['Type 1'].nunique()

18

In [114]:
def num_types(x):
    return x['Type 1'].nunique()
num_types(pokemon)

18

4. Number of Pokemon whose Type 2 is Ghost

In [55]:
t2_ghost = pokemon['Type 2'] == 'Ghost'
t2_ghost = len(pokemon[t2_ghost])
t2_ghost

14

5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument

In [59]:
t2 = pokemon['Type 2'].nunique()

round((t2_ghost/t2) * 100, 2)

77.78

In [121]:
def percent_ghost(x):
    return len(x['Type 2'] == 'Ghost') / (x['Type 2'].nunique()) * 100

percent_ghost(pokemon)

4444.444444444444

6. Number of Pokemon whose Attack is greater than Defense

In [140]:
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [62]:
higher_attack = pokemon['Attack'] > pokemon['Defense']

higher_attack.nunique()

2

7. Highest 'Total' value of the Psychic Type 2

In [63]:
#Don't do

8. Lowest speed for Grass or Rock

In [66]:
pokemon.groupby('Type 1').Speed.agg(['min']).sort_values('min')

          min
Type 1
Bug         5
Normal      5
Rock       10
Ground     10
Grass      10
Water      15
Fairy      15
Fire       20
Psychic    20
Dark       20
Ghost      20
Steel      23
Ice        25
Poison     25
Fighting   25
Electric   35
Dragon     40
Flying     55

In [122]:
grass_or_rock = (pokemon['Type 1'] == 'Grass') | (pokemon['Type 1'] == 'Rock')
pokemon[grass_or_rock]

/var/folders/wb/jmvhr1254qz8q35w554cyxww0000gn/T/ipykernel_2383/1880737771.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon[grass_or_rock].min()

#                          1
Name               Abomasnow
Type 1                 Grass
HP                        30
Attack                    27
Defense                   30
special-attack            10
special-defense           25
Speed                     10
Generation                 1
Legendary              False
dtype: object

In [92]:
grass = pokemon['Type 1'] == 'Grass'
rock = pokemon['Type 1'] == 'Rock'

pokemon[grass].sort_values('Speed', ascending= False).agg(['min'])

pokemon[rock].sort_values('Speed', ascending= False).agg(['min'])

/var/folders/wb/jmvhr1254qz8q35w554cyxww0000gn/T/ipykernel_2383/3471355179.py:7: FutureWarning: ['Type 2'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  pokemon[grass].sort_values('Speed', ascending= False).agg(['min'])
/var/folders/wb/jmvhr1254qz8q35w554cyxww0000gn/T/ipykernel_2383/3471355179.py:9: FutureWarning: ['Type 2'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  pokemon[rock].sort_values('Speed', ascending= False).agg(['min'])

,#,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
min,74,Aerodactyl,Rock,30,40,40,10,25,10,1,False

9. Average speed by Generation

In [86]:
pokemon['Generation'].nunique()

6

In [94]:
pokemon['Type 1'].isin(['Grass', 'Rock'])

0       True
1       True
2       True
3       True
4      False
       ...
795     True
796     True
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [ ]:
pokemon['Speed']

10. Convert all the column names to lowercase letters

In [145]:
pokemon.columns = pokemon.columns.str.lower()
pokemon.columns

Index(['#', 'name', 'type 1', 'type 2', 'hp', 'attack', 'defense',
       'special-attack', 'special-defense', 'speed', 'generation',
       'legendary'],
      dtype='object')

11. Rename Sp. Attack to special-attack

In [146]:
pokemon = pokemon.rename(columns={'Sp. Atk': 'special-attack'})

pokemon

,#,name,type 1,type 2,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

12. Rename Sp. Def to special-defense

In [142]:
pokemon = pokemon.rename(columns={'Sp. Def': 'special-defense'})

pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,special-attack,special-defense,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy

15. Which Pokemon has appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument

Bonus: 

Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

### Define a function with the parameter a

```
def double_number(a):
    return a*2
```

In [4]:
# Pass the argument 2 to the function
double_number(2)

4