# Exercise Part I 

Use pandas to create a Series named fruits from the following list:
["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

2. Output only the index from fruits.

3. Output only the values from fruits.

4. Confirm the data type of the values in fruits.

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

7. Run the code necessary to produce only the unique string values from fruits.

8. Determine how many times each unique string value occurs in fruits.

9. Determine the string value that occurs most frequently in fruits.

10. Determine the string value that occurs least frequently in fruits.

In [30]:
import pandas as pd

In [31]:
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [32]:
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [87]:
fruit_series.count()

17

In [34]:
fruit_series.index

RangeIndex(start=0, stop=17, step=1)

In [93]:
list(fruit_series.values)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [36]:
fruit_series.dtype

dtype('O')

In [37]:
fruit_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [38]:
fruit_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [94]:
fruit_series.sample(2)

13     blueberry
14    blackberry
dtype: object

In [40]:
fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [95]:
list(fruit_series.unique())

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [42]:
fruit_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [104]:
fruit_series.value_counts().idxmax()
fruit_series.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [105]:
fruit_series.value_counts().nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

2. Count the letter "a" in all the string values (use string vectorization).

3. Output the number of vowels in each and every string value.

4. Write the code to get the longest string value from fruits.

5. Write the code to get the string values with 5 or more letters in the name.

6. Find the fruit(s) containing the letter "o" two or more times.

7. Write the code to get only the string values containing the substring "berry".

8. Write the code to get only the string values containing the substring "apple".

9. Which string value contains the most vowels?

In [60]:
fruit_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [62]:
fruit_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [243]:

def num_v(string):
    count = 0
    vowels = list('aeiou')
    for char in string:
        if char in vowels:
            count += 1
    return count        
        

fruit_series.apply(num_v)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [203]:
fruit_series.str.len().max()

16

In [200]:
the_len = fruit_series.str.len()

fruit_series[the_len >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [231]:
o_fruits = fruit_series.str.count('o')

fruit_series[o_fruits >= 2]

6         tomato
15    gooseberry
dtype: object

In [171]:
fruit_series[fruit_series.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [172]:
fruit_series[fruit_series.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [241]:
# Which string value contains the most vowels?

fruit_series[fruit_series.apply(num_v).max()]

'honeycrisp apple'

# Exercises Part III
Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.
'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
Which letter occurs the most frequently in the letters Series?
Which letter occurs the Least frequently?
How many vowels are in the Series?
How many consonants are in the Series?
Create a Series that has all of the same letters but uppercased.
Create a bar plot of the frequencies of the 6 most commonly occuring letters.
Use pandas to create a Series named numbers from the following list:
['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']
What is the data type of the numbers Series?
How many elements are in the number Series?
Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.
Run the code to discover the maximum value from the Series.
Run the code to discover the minimum value from the Series.
What is the range of the values in the Series?
Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.
Plot the binned data in a meaningful way. Be sure to include a title and axis labels.
Use pandas to create a Series named exam_scores from the following list:
[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]
How many elements are in the exam_scores Series?
Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.
Plot the Series in a meaningful way and make sure your chart has a title and axis labels.
Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.
Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.
Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.